# Dependencies
node_modules/

# Build output
build/
*.tgz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
jsconfig.json
*.iml

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# Android
.classpath
.cxx/
.gradle/
.project
.settings/
local.properties

# Expo
.expo/

# Example app generated projects
example/ios/
example/android/
example/node_modules/
example/vendor/

# CocoaPods
Pods/

# Debug logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Coverage
coverage/
